<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[SUBJECT]</title>
    <style type="text/css">
      body {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin: 0 !important;
        width: 100% !important;
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-font-smoothing: antialiased !important;
      }
      .tableContent img {
        border: 0 !important;
        display: block !important;
        outline: none !important;
      }
      a {
        color: #5998c5;
      }

      p,
      h1 {
        color: #5998c5;
      }
      h2 {
        color: #5998c5;
        font-size: 28px;
        margin: 0;
        font-weight: normal;
        font-family: Georgia, serif;
      }
      a {
        color: #5998c5;
        font-size: 18px;
        margin: 0;
        line-height: 45px;
        font-family: Georgia, serif;
      }

      p {
        color: #0000;
        font-size: 16px;
        margin: 0;
        line-height: 22px;
        font-family: Georgia, serif;
      }
      .bgBody {
        background: #d1d2d4;
      }

      @media only screen and (max-width: 480px) {
        table[class="MainContainer"],
        td[class="cell"] {
          width: 100% !important;
          height: auto !important;
        }
        td[class="specbundle"] {
          width: 100% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 18px !important;
          display: block !important;
          padding-bottom: 15px !important;
          text-align: center !important;
        }
        td[class="specbundle2"] {
          width: 90% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 18px !important;
          display: block !important;
          padding-bottom: 10px !important;
          padding-left: 5% !important;
          padding-right: 5% !important;
        }
        td[class="specbundle3"] {
          width: 85% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 18px !important;
          display: block !important;
          padding-bottom: 10px !important;
          padding-left: 10% !important;
          padding-right: 5% !important;
        }

        td[class="spechide"] {
          display: none !important;
        }
        img[class="banner"] {
          width: 100% !important;
          height: auto !important;
        }
        img[class="banner1"] {
          width: 90% !important;
          height: auto !important;
        }
        td[class="left_pad"] {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }

      @media only screen and (max-width: 540px) {
        table[class="MainContainer"],
        td[class="cell"] {
          width: 100% !important;
          height: auto !important;
        }
        td[class="specbundle"] {
          width: 100% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 17px !important;
          display: block !important;
          padding-bottom: 15px !important;
          text-align: center !important;
        }
        td[class="specbundle2"] {
          width: 90% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 17px !important;
          display: block !important;
          padding-bottom: 10px !important;
          padding-left: 5% !important;
          padding-right: 5% !important;
        }
        td[class="specbundle3"] {
          width: 85% !important;
          float: left !important;
          font-size: 16px !important;
          line-height: 17px !important;
          display: block !important;
          padding-bottom: 10px !important;
          padding-left: 10% !important;
          padding-right: 5% !important;
        }

        td[class="spechide"] {
          display: none !important;
        }
        img[class="banner"] {
          width: 100% !important;
          height: auto !important;
        }
        img[class="banner1"] {
          width: 90% !important;
          height: auto !important;
        }
        td[class="left_pad"] {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }
    </style>

    <script type="colorScheme" class="swatch active">
      {
        "name":"Default",
        "bgBody":"d1d2d4",
        "link":"5998C5",
        "color":"0000",
        "bgItem":"ffffff",
        "title":"5998C5"
      }
    </script>
  </head>
  <body
    paddingwidth="0"
    paddingheight="0"
    style="
      padding-top: 0;
      padding-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      background-repeat: repeat;
      width: 100% !important;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -webkit-font-smoothing: antialiased;
    "
    offset="0"
    toppadding="0"
    leftpadding="0"
  >
    <table
      width="100%"
      border="0"
      cellspacing="0"
      cellpadding="0"
      class="tableContent bgBody"
      align="center"
    >
      <!--header-->
      <tbody>
        <tr>
          <td>
            <table
              width="600"
              border="0"
              cellspacing="0"
              cellpadding="0"
              bgcolor="#FFFFFF"
              align="center"
              class="MainContainer"
            >
              <tbody>
                <tr>
                  <td class="movableContentContainer">
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td
                              bgcolor="#5998C"
                              valign="top"
                              align="center"
                              style="padding: 6px 25px"
                            >
                              <div
                                class="
                                  contentEditableContainer
                                  contentTextEditable
                                "
                              >
                                <div class="contentEditable" align="center">
                                  <p
                                    style="
                                      color: #eaceaa;
                                      font-size: 12px;
                                      font-family: Verdana, sans-serif;
                                      text-align: center;
                                    "
                                  >
                                    You are receiving this email because you
                                    signed up for our mailing list.
                                  </p>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        bgcolor="#F59E0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="20" class="spechide">
                              &nbsp;
                            </td>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td height="15"></td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              valign="top"
                                              width="280"
                                              class="specbundle2"
                                            >
                                              <div
                                                class="
                                                  contentEditableContainer
                                                  contentImageEditable
                                                "
                                              >
                                                <div class="contentEditable">
                                                  <img
                                                    src="cid:logo"
                                                    alt="Compagnie logo"
                                                    data-default="placeholder"
                                                    width="100"
                                                    data-max-width="280"
                                                    boder="0"
                                                  />
                                                </div>
                                              </div>
                                            </td>
                                            <td
                                              valign="top"
                                              class="specbundle2"
                                              align="left"
                                            >
                                              <table
                                                width="280"
                                                border="0"
                                                cellspacing="0"
                                                cellpadding="0"
                                                align="center"
                                                style="
                                                  font-family: Verdana,
                                                    sans-serif;
                                                "
                                              >
                                                <tr>
                                                  <td width="60" align="right">
                                                    <div
                                                      class="
                                                        contentEditableContainer
                                                        contentFacebookEditable
                                                      "
                                                    >
                                                      <div
                                                        class="contentEditable"
                                                      >
                                                        <img
                                                          src="cid:facebook"
                                                          alt="facebook icon"
                                                          width="35"
                                                          height="35"
                                                          data-default="placeholder"
                                                          data-max-width="35"
                                                          data-customIcon="true"
                                                          data-noText="false"
                                                        />
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td width="45" align="right">
                                                    <div
                                                      class="
                                                        contentEditableContainer
                                                        contentTwitterEditable
                                                      "
                                                    >
                                                      <div
                                                        class="contentEditable"
                                                      >
                                                        <img
                                                          src="cid:twitter"
                                                          alt="twitter icon"
                                                          width="35"
                                                          height="35"
                                                          data-default="placeholder"
                                                          data-max-width="35"
                                                          data-customIcon="true"
                                                          data-noText="false"
                                                        />
                                                      </div>
                                                    </div>
                                                  </td>
                                                  <td width="175" align="right">
                                                    <div
                                                      class="
                                                        contentEditableContainer
                                                        contentTextEditable
                                                      "
                                                    >
                                                      <div
                                                        class="contentEditable"
                                                      >
                                                        <a
                                                          target="_blank"
                                                          href="https://qosic.com"
                                                          style="
                                                            padding: 10px 18px;
                                                            color: #2e0b05;
                                                            background: #eaceaa;
                                                            text-decoration: none;
                                                            font-weight: bold;
                                                            font-size: 13px;
                                                            border-radius: 30px;
                                                            -moz-border-radius: 30px;
                                                            -webkit-border-radius: 30px;
                                                            font-family: Georgia,
                                                              serif;
                                                          "
                                                          >Visit our website</a
                                                        >
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                              </table>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td height="15"></td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                            <td valign="top" width="20" class="spechide">
                              &nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="600">
                              <div
                                class="
                                  contentEditableContainer
                                  contentImageEditable
                                "
                              >
                                <div class="contentEditable" align="center">
                                  <img
                                    class="banner"
                                    src="cid:poster"
                                    alt="Featured image"
                                    data-default="placeholder"
                                    data-max-width="600"
                                    brder="0"
                                  />
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td bgcolor="#F59E00" style="padding: 20px">
                              <div
                                class="
                                  contentEditableContainer
                                  contentTextEditable
                                "
                              >
                                <div class="contentEditable" align="center">
                                  <h2
                                    style="
                                      color: #ffffff;
                                      margin: 0;
                                      font-family: Georgia, serif;
                                      text-transform: uppercase;
                                      font-weight: 800;
                                      line-height: 30px;
                                    "
                                  >
                                    <%=title%>
                                  </h2>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    ></div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="20">&nbsp;</td>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                align="center"
                              >
                                <tr>
                                  <td height="42"></td>
                                </tr>
                                <tr>
                                  <td height="1" bgcolor="#efe8e0"></td>
                                </tr>
                              </table>
                            </td>
                            <td valign="top" width="20">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="20">&nbsp;</td>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                                align="center"
                              >
                                <tr>
                                  <td align="left">
                                    <div
                                      class="
                                        contentEditableContainer
                                        contentTextEditable
                                      "
                                    >
                                      <div class="contentEditable">
                                        <p
                                          style="
                                            color: black;
                                            font-size: 16px;
                                            margin-top: 16px;
                                          "
                                        >
                                         <%=description%>
                                        </p>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <tr>
                                  <td height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td align="left" valign="top">
                                    <div
                                      class="
                                        contentEditableContainer
                                        contentTextEditable
                                      "
                                    ></div>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td valign="top" width="20">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                      >
                        <tbody>
                          <tr>
                            <td valign="top" width="600">
                              <div
                                class="
                                  contentEditableContainer
                                  contentImageEditable
                                "
                              >
                                <table
                                  width="100%"
                                  border="0"
                                  cellspacing="0"
                                  cellpadding="0"
                                >
                                  <tbody>
                                    <tr>
                                      <td class="spechide" valign="top">
                                        <div
                                          class="contentEditable"
                                          align="center"
                                        >
                                         <div style="width: 110px; height: 51px; background-color:transparent;">

                                         </div>
                                        </div>
                                      </td>
                                      <td
                                        valign="top"
                                        width="380"
                                        align="center"
                                        style="border-radius: 100px"
                                      >
                                        <div
                                          class="contentEditable"
                                          align="center"
                                        >
                                          <a
                                            style="
                                              font-size: 20px;
                                              text-transform: uppercase;
                                              font-weight: 900;
                                            "
                                            href="https:qosic.com/#/blog/post/<%=idPost%>/0"
                                            >Read now !</a
                                          >
                                          <br>
                                          <br>
                                        </div>
                                      </td>
                                      <td class="spechide" valign="top">
                                        <div
                                          class="contentEditable"
                                          align="center"
                                        >
                                           <div style="width: 110px; height: 51px; background-color:transparent;">
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td bgcolor="white">
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0"
                              >
                                <tbody>
                                  <tr>
                                    <td valign="top" width="20">&nbsp;</td>
                                    <td valign="top">
                                      <table
                                        width="100%"
                                        border="0"
                                        cellspacing="0"
                                        cellpadding="0"
                                      >
                                        <tbody>
                                          <tr>
                                              <div
                                                class="
                                                  contentEditableContainer
                                                  contentTextEditable
                                                "
                                              >
                                                <div class="contentEditable">
                                                  <p
                                                    style="
                                                      color: rgb(
                                                        57,
                                                        151,
                                                        252
                                                      ) !important;
                                                      font-size: 12px;
                                                      margin: 0;
                                                      font-family: Georgia,
                                                        serif;
                                                    "
                                                  >
                                                    <td>
                                                      Bénin : <br />
                                                    <span
                                                      style="
                                                        font-size: 10px;
                                                        color: black;
                                                        width: 200px;
                                                        display: inline-block;
                                                      "
                                                      >LOT: 902 – Maison
                                                      Houedanou Leonard,
                                                      Quartier Sikecodji,
                                                      Cotonou</span
                                                    >
                                                    </td>
                                                    <td>
                                                        Nigeria : <br />
                                                    <span
                                                      style="
                                                        font-size: 10px;
                                                        color: black;
                                                        width: 200px;
                                                        display: inline-block;
                                                      "
                                                      >4th floor, Polystar
                                                      Building, Second
                                                      Roundabout, Lekki,
                                                      Lagos</span
                                                    >
                                                    </td>
                                                     <td valign="top" width="20">&nbsp;</td>
                                                    <td>
                                                      Togo : <br />
                                                    <span
                                                      style="
                                                        font-size: 10px;
                                                        color: black;
                                                        width: 200px;
                                                        display: inline-block;
                                                      "
                                                      >BE Ahligo, Rue KONDA,
                                                      Maison AGOSSOU Amouzouvi,
                                                      Lome</span
                                                    >
                                                    </td>
                                                  </p>
                                                </div>
                                              </div>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                    <td valign="top" width="20">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td height="25" bgcolor="#F8F2EB"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div
                      class="movableContent"
                      style="border: 0px; padding-top: 0px; position: relative"
                    >
                      <table
                        width="100%"
                        border="0"
                        cellspacing="0"
                        cellpadding="0"
                        align="center"
                         bgcolor="#5998C"
                      >
                        <tr>
                          <td
                            width="50%"
                            style="padding: 15px 20px 5px 10px"
                            valign="top"
                          >
                            <div
                              class="
                                contentEditableContainer
                                contentTextEditable
                              "
                            >
                              <div class="contentEditable" align="left">
                                <p>
                                  <a
                                    target="_blank"
                                    href="https://editorapi/unsubscribe?email=<%=mail%>"
                                    style="display: block; color: #ffff; line-height: 10px;font-size:12px;"
                                    >Unsubscribe</a
                                  ><br />
                                </p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <table>
                              <tbody>
                              <tr>
                                  <td valign="top" width="72">
                                    <div
                                      class="
                                        contentEditableContainer
                                        contentTwitterEditable
                                      "
                                    >
                                      <div
                                        class="
                                          contentEditable
                                        "
                                      >
                                        <img
                                          src="cid:twitter"
                                          alt="twitter icon"
                                          width="72"
                                          height="72"
                                          data-default="placeholder"
                                          data-max-width="72"
                                          data-customIcon="true"
                                          data-noText="false"
                                        />
                                      </div>
                                    </div>
                                  </td>
                                  <td
                                    width="20"
                                    class="spechide"
                                  >
                                    &nbsp;
                                  </td>
                                  <td valign="top" width="72">
                                    <div
                                      class="
                                        contentEditableContainer
                                        contentFacebookEditable
                                      "
                                    >
                                      <div
                                        class="
                                          contentEditable
                                        "
                                      >
                                       <a href="https://www.facebook.com/qosintergratedcenter/">
                                        <img
                                          src="cid:facebook"
                                          alt="facebook icon"
                                          width="72"
                                          height="72"
                                          data-default="placeholder"
                                          data-max-width="72"
                                          data-customIcon="true"
                                          data-noText="false"
                                        />
                                        </a>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
