<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    table {
      border: hidden;
    }
    td {
      padding: 0 8px;
      border: hidden;
    }
    tr {
      padding: 0;
      margin: 0;
    }
  </style>
  <body style="background-color: whitesmoke">
    <table
      style="
        background: white;
        box-shadow: 4px 4px 10px whitesmoke;
        min-width: 320px;
        width: 600px;
        margin: auto;
      "
    >
      <tr valign="top" style="background-color: orange">
        <td colspan="2">
          <img
            width="110"
            style="margin: 16px 0px"
            height="50"
            src="../../client/src/images/QOS/QOS_WHITE.png"
          />
        </td>
        <td style="border: none">
          <h3 style="color: white; font-size: 12px">QOS NEWSLETTER</h3>
        </td>
      </tr>
      <tr>
        <td style="height: 40px"></td>
      </tr>
      <tr>
        <td colspan="2" style="font-size: 20px">
          <strong>
            Hi
            <span style="color: blue; font-size: 16px">(<%= mail%>) </span>
            👋
          </strong>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="height: 10px"></td>
      </tr>
      <tr>
        <td colspan="2" style="font-size: 20px">
          <p>Read this new post write by QOS</p>
        </td>
      </tr>
      <tr>
        <td colspan="100" style="height: 10vh">
          <h2 style="text-transform: uppercase; display: block">
            HELLO post albatisiens hello boss
          </h2>
          <img
            style="max-width: 100%; width: 100%"
            src="cid:unique"
            alt="hello"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2" style="font-size: 20px">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
            magni maiores nisi laborum dignissimos repellendus necessitatibus
            consequatur ullam eaque, cumque blanditiis odio recusandae,
            architecto inventore doloremque quod iste dolores nesciunt.
          </p>
        </td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td align="center" class="dotsHoriz">
          <table cellspacing="0" cellpadding="0">
            <tr align="left" rowspan="3" valign="top">
              <td width="15" align="left" valign="top" bgcolor="#e6d9d2">
                <p>&nbsp;</p>
              </td>
              <td
                width="330"
                align="left"
                valign="top"
                bgcolor="#e6d9d2"
                class="mainbar"
              >
                <p>Article photo</p>
                <h2>Article title</h2>
                <p>Article copy</p>
                <p>Read more link</p>
              </td>
              <td
                width="15"
                align="left"
                valign="top"
                bgcolor="#e6d9d2"
                class="dotsVert"
              >
                <p>&nbsp;</p>
              </td>
              <td width="15" bgcolor="#FFFFFF">
                <p>&nbsp;</p>
              </td>
              <td width="190" align="left" valign="top" bgcolor="#FFFFFF">
                <p>Article photo</p>
                <h3>Article title</h3>
                <p>Article copy</p>
                <p>Read more link</p>
              </td>
              <td width="15" bgcolor="#FFFFFF">
                <p>&nbsp;</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>

correction contact sales Sign in Areate account Entrepries africaine vie crs
paymentpro gozem sunu Our APIs are built. 1.7% commission more than 4000
requests are performed
